html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

$step-size-heading: 0.33333;

@mixin heading-size($size) {
  font-size: $size * $step-size-heading + em;
}

h1 {
  @include heading-size(6);
}

h2 {
  @include heading-size(5);
}

h3 {
  @include heading-size(4);
}

h4 {
  @include heading-size(3);
}

h5 {
  @include heading-size(2);
}

h6 {
  @include heading-size(1);
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  margin: 1em 0 0.5em;
  font-weight: bold;
}

p {
  display: block;
  margin: 1em 0;
}